body {
  font-size: 16px;
  color: #fff;
  background-color: #a0c0ff;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #237bee;
  border-radius: 0;
  border: 0;
}

.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: #130f27;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
  font-weight: bold;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

#chicken_content, #beef_content, #sushi_content {
  background-color: #3a84e6;
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  box-shadow: 5px 5px rgb(2, 5, 161);
}


/* END HOME PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
 
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
 
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
   
  }
/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */
 #chicken_content, #beef_content, #sushi_content {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
     
 }
  
 
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { 
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */

}

